<div id="form-container">
  <form [formGroup]="initiGameForm" (ngSubmit)="createNewGame()">
    <label>Tamaño del Tablero:</label>
    <input type="number" formControlName="size" required min="0">
    <br><br>
    <label>Wumpus:</label>
    <input type="number" formControlName="wumpus" required min="0">
    <br><br>
    <label>Agujeros:</label>
    <input type="number" formControlName="pits" required min="0">
    <br><br>
    <label>Flechas:</label>
    <input type="number" formControlName="arrows" required min="0">
    <br><br>
    <input type="submit" value="Iniciar">
  </form>
</div>
